<!DOCTYPE html>
<html>
	<h1>Add New Cinema<h1>
	<body>
	<form action="/cinemas/submit" method="POST">
		<input type="text" name=name placeholder= "cinema name"></input>
		<input type="text" name=image placeholder= "image url"></input>
		<input type="text" name=location placeholder= "location"></input>
		<button >Submit new cinema</button>
	</form>
	</body>
</html>
