<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grid.css">
</head>
<body>
<h1> Screen Layout for ticket booking </h1>
 <script  src="/javascript.js"></script>
<a href="/confirmbooking/<%= show_id%>/25">Confirm Booking</a>

</body>

</html>

